@charset "UTF-8";
/* UTF-8 一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+TC:wght@200..900&display=swap');

/* import一定要在第二行 */
@font-face {
    font-family: emma;
    src: url(../webfonts/emmasophia.ttf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距padding與邊框 */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: blanchedalmond; */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 將預設inline改為block */
    display: block;
    text-decoration: none;
    color: #0c1216;
}

p {
    font-size: .8rem;

}

/* 共用區 */
:root {
    --deep: #444;
    --grey: #999;
    --light: #fff0f0;

    /* 背景 */
    --primary: #f2edf0;
    --secondary: #e6ece5;
    --tertiary: #ecf0f4;

    /* 輔助 */
    --lesser-1: #f3e4e4;
    --lesser-2: #efdbdb;
    --lesser-3: #cdaaab;
    --lesser-4: #a97f81;
    --lesser-5: #8f6d6d;

    /* 透明 */
    --alpha-w-60: rgba(255, 255, 255, .6);
    --alpha-b-20: rgba(0, 0, 0, 0.20);
    --alpha-b-40: rgba(0, 0, 0, 0.40);
    --alpha-r-60: rgba(220, 185, 185, 0.6);

    /* 漸層 */
    --gradient-w-a: rgba(255, 255, 255, 0.15), rgba(255, 255, 255, .5);

    /* 陰影 */
    --box-shadow-g: 2px 2px 3px rgba(0, 0, 0, 0.15),
        inset -1px -1px rgba(255, 255, 255, .8);
}

/* 卷軸樣式 */
::-webkit-scrollbar {
    /* 卷軸基底 */
    width: 15px;
    background-color: var(--lesser-1);
}

::-webkit-scrollbar-button {
    background-color: var(--lesser-4);
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lesser-3);
    height: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--lesser-5);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--alpha-r-60);
}

::-webkit-scrollbar-corner {
    background-color: var(--lesser-2);
}

::-webkit-resizer {
    /* 多行文字欄為右下角的縮放按鈕 */
}

.btn-s {
    background-color: var(--light);
    color: var(--deep);
    width: auto !important;
    height: 35px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 99px;
    transition: .35s ease-in-out;
}

.btn-s:hover {
    background-color: #0c1216;
    color: #ffffff;
}

#form--contact input,
#form--contact textarea,
#topbar .navigation .menu,
button#btn_contact--submit {
    /* 玻璃擬態效果 */
    /*設定邊框*/
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.6));
    /* filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.2)); */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), inset -1px -1px rgba(255, 255, 255, .8);
    /* backdrop-filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.3)); */
    backdrop-filter: blur(6px);
}


/*頁首區*/
#topbar {
    /* position > displayed */
    /* ID用# */
    position: fixed;
    /*固定定位:不會跟著卷軸走*/
    z-index: 999;
    width: 100%;
    /*定位會變成抓內容的尺寸，所以要手動設定回w100%*/
    /* 預設主軸為水平 */
    display: flex;
    /*主軸(水平)均分貼齊頭尾*/
    justify-content: space-between;
    /* 副軸(垂直)置中 */
    align-items: center;
    padding: 30px;
}

.logo {
    /* class用. */
    width: 65px;
}

.logo svg {
    filter: drop-shadow(2px 2px var(--alpha-w-60));
}

.navbar {
    display: flex;
    /* 主軸(垂直) */
    flex-direction: column;
    /* 副軸(水平):置底(靠右)  */
    align-items: flex-end;
}

/* 漢堡按鈕區 */
.hamburger {
    /*  修改button在瀏覽器上預設的樣式  */
    background-color: transparent;
    border: none;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--deep);
    margin: 5px auto;
}

/* 主要選單區 */
.navigation {
    display: flex;
    /* 住軸(垂直) */
    flex-direction: column;
    /* 副軸(水平)置底 */
    align-items: flex-end;
}

.navigation .icon {
    display: flex;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    /* border: solid 1px;  邊框*/
    margin-left: 10px;
    transition: 0.35s ease-in-out;
    /* 滑鼠按鈕變換轉場的特效 */
}

.navigation .icon .icon-fb {
    /* 只有svg圖繪等比例縮放，其他圖檔都會是原始尺寸 */
    background-image: url(../image/images/icon-fb.svg);
}

.navigation .icon .icon-fb:hover {
    background-image: url(../image/images/icon-fb-hover.svg)
}

.navigation .icon .icon-ig {
    background-image: url(../image/images/icon-ig.svg);
}

.navigation .icon .icon-ig:hover {
    background-image: url(../image/images/icon-ig-hover.svg);
}

.navigation .icon .icon-line {
    background-image: url(../image/images/icon-line.svg);
}

.navigation .icon .icon-line:hover {
    background-image: url(../image/images/icon-line-hover.svg);
}

.navigation .menu {

    display: flex;
    /* 控制父層外距 */
    margin: 15px 0;
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li {
    border-right: solid 1px #0c1216;
}

.navigation .menu li:last-child {
    border: none;
}

.navigation .menu a {
    color: #0c1216;
    font-size: 0.9rem;
    line-height: 1;
    /* 控制子層外距 */
    margin: 0 10px;
    border-bottom: solid 2px transparent;
}

.navigation .menu a:hover {
    /* hover 滑鼠觸碰到的轉場特效 border-bottom:下邊框 */
    border-bottom: solid 2px #0c1216;
    transition: 0.35 ease-in-out;
}

@media(min-width:641px){
    .hamburger{
        display: none;
    }
}

@media(max-width:640px){
    .navigation .menu {
        flex-direction: column;
        border-radius: 15px;
    }
    .navigation .menu li {
        border: none;
    }
    .navigation .menu a {
        margin: 15px;
    }
}

/* 內容共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*高度用vh 用px會整個跑到上面去*/
}

/* 讓聯絡我們置中 */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 30px; */
}

.title h2 {
    font-family: emma, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-bottom: 2px solid #444;
}

.title h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}

.box__list {
    width: 80%;
    max-width: 1440px;
    /* 通常搭配相對單位，設定絕對單位 */
    display: flex;
    margin-bottom: 50px;
}

.box__list .item {
    /* 平板以上RWD有交換主軸方向，flex:1變成高度，flex權重大於寬高 */
    flex: 1;
    margin: 0 15px;
    box-shadow: 3px 3px 10px var(--alpha-b-20);
    border-radius: 20px;
    overflow: hidden;
}

.box__list figure {
    height: 40vh;
}

.box__list img {
    object-fit: cover;
    /* width: 100%;   共用區已設定*/
    height: 100%;
}

.box__list .content {
    padding: 15px 20px;
}

.box__list h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.box__list p {
    font-size: .9rem;
    text-align: justify;
    /* 齊行，建議中文使用，英文是單字間距均分，建議不要使用 */

}

/* 最新消息區 */
#news {
    background-color: var(--primary);
}

#news .content {
    background-color: var(--alpha-w-60);
    transition: .4s;
}

#news .content:hover {
    background-color: var(--light);
}

#news p {
    /* 多行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字溢出時出現省略號，若有設定line-clamp時，瀏覽器會自動加入 */
    display: -webkit-box;
    /* 彈性佈局 */
    -webkit-box-orient: vertical;
    /* 定義box垂直佈局 */
    -webkit-line-clamp: 5;
    /* 限制行數 */
}

/* 中型設備 */
@media(max-width:820px) {
    #news .item:last-child {
        display: none;
    }
}

/* 小型設備 */
@media(max-width:640px) {
    #news .item:nth-child(n+2) {
        display: none;
    }
}

/* 服務項目區 */
#service {
    background-color: var(--secondary);
    transition: .4s;
}

#service .content:hover {
    background-color: var(--alpha-b-20);
}

#service p {
    /* 單行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#service .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* 平板以上RWD有交換主軸方向，flex:1變成高度，flex權重大於寬高 */
    height: 60vh;
    background-position: center;
    background-size: cover;
}

#service a {
    /* width: 100%;    父元素的flex若為row，則寬度抓內容尺寸，所以手動寫回來 */
    color: white;
    background-color: var(--alpha-b-40);

}

.svc-1 {
    background-image: url(../image/images/pt_svc1.jpg);
}

.svc-2 {
    background-image: url(../image/images/pt_svc2.jpg);
}

.svc-3 {
    background-image: url(../image/images/pt_svc3.jpg);
}

.svc-4 {
    background-image: url(../image/images/pt_svc4.jpg);
}

/* 821平板以上尺寸 */
@media (min-width:821px) {
    #service .btn-s {
        display: none;
    }
}

/* 820以下 */
@media (max-width:820px) {
    #service .box__list {
        flex-direction: column;
        /* flex:1高度均分時，父元素預設為抓內容尺寸，需另外設定高度使其有空間均分 */
        height: 60vh;
    }

    #service .item {
        margin-bottom: 30px;
    }

    #service .item:nth-child(n+3) {
        display: none;
    }
}


/* 相關影片區 */
#video {
    background-color: var(--tertiary);
}

.video {
    width: 60%;
    max-width: 1050px;
}

video {
    width: 100%;
}

@media(max-width:820px) {
    #video {
        height: auto;
        /*取消桌機板的100vh*/
        padding: 5vh 0;
    }
}


/* 關於我們區 */

#about {
    position: relative;
    background-color: var(--lesser-2);
}

#about .content {
    position: absolute;
    width: 65%;
    height: 100vh;
    /* 高度%,是抓父元素的相對高度 */
    background-color: var(--alpha-r-60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(5px);
}

#about p {
    width: 85%;
    height: 65vh;
    padding-right: 1rem;
    overflow: scroll;
}

#about video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    filter: brightness(120%) contrast(80%);
}

@media(max-width:820px) {
    #about .content {
        width: 85%;
    }
}

/* 區塊卷軸 */
#about p::-webkit-scrollbar-thumb {
    border-radius: 99px;
}

#about p::-webkit-scrollbar-track {
    border-radius: 99px;
}

#about p::-webkit-scrollbar-button {
    display: none;
    /* 預設就是display:none 是因為body有設定button,所以需要另外設定取消 */
}

#about p::-webkit-scrollbar-corner {
    border-radius: 50%;
}

/* 聯絡我們區 */
#contact {
    position: relative;
    /* 專門作為absolute的定位依據 */
    overflow: clip;
    /* 背景影像基本設定 */
    background-image: url(../image/images/bg_contact.jpg);
    background-size: cover;
    /*自動剪裁*/
    background-position: center center;
    /*水平垂直置中*/
    background-repeat: no-repeat;
    /*背景不重複填滿*/
    /* 固定背景 */
    background-attachment: fixed;
}

/* 裝飾花 */
.flower_r {
    position: absolute;
    /* 絕對定位 */
    left: -50px;
    bottom: -20px;
    width: 300px;
    transform: rotate(40deg);
}

.flower_w {
    position: absolute;
    /* 絕對定位 */
    right: -50px;
    top: 60px;
    width: 300px;
    transform: rotate(-40deg);
}

#form--contact {
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;
    /*主軸垂直*/
    align-items: center;
    /*副軸(水平)垂直*/
    width: 35%;
    /*寬度都用百分比*/
}

@media(max-width:820px) {
    #form--contact {
        width: 50%;
    }
}

@media(max-width:640px) {

    .flower_r,
    .flower_w {
        display: none;
    }

    #form--contact {
        width: 60%;
    }
}

#form--contact label {
    font-size: .85rem;
    line-height: 2;
    margin-top: 1rem;
    width: 100%;
}



#form--contact input,
#form--contact textarea {
    width: 100%;
    border-radius: 15px;
    /*圓角*/
    padding: 6px;
    color: var(--lesser-4);
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-weight: 600;
    /* 取消表單顏色的預設背景色 */
    background-color: transparent;
    border: none;
}

#form--contact input:focus,
#form--contact textarea:focus {
    /* 修改focus預設樣式 */
    outline: 2px solid var(--lesser-4);
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
    font-size: .8rem;
    font-weight: 400;
    color: var(--lesser-4);
    padding: 15px 5px;
}

#form--contact small {
    padding: .6px;
    color: var(--lesser-4);
    font-weight: 600;
    font-size: .6rem;
}

/* 動態按鈕 */
/* button#btn_contact--submit {} */

button#btn_contact--submit {
    /* position: relative; */
    /* outline: none; */
    /* text-decoration: none; */
    border-radius: 50px;
    /* 定義起始位置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 指標樣式 */
    cursor: pointer;
    /*指標樣式:手型*/
    /* text-transform: uppercase; 設定字母大小寫 */
    height: 60px;
    width: 210px;
    /* opacity: 1;  透明度*/
    /* 取消button預設值 */
    background-color: transparent;
    border: none;
}

button#btn_contact--submit span {
    color: var(--lesser-3);
    font-size: 12.8px;
    font-weight: 700;
    letter-spacing: 1rem;
    /* 每個字左邊加字句 */
    /* 區塊置中時，補回字距產生的間距 */
    padding-left: 1rem;
}

button#btn_contact--submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

button#btn_contact--submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/* 頁尾區 */
footer {
    padding: 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

/* 取消頁首區的間距 */
footer .navigation .menu {
    margin: 0;
    padding: 0;
}

footer .navigation .menu a {
    font-weight: 500;
}

/* 取消子選單的邊框 */
/* .navigation .submenu li {
    border: none;
} */

/* 取消頁尾區全部的邊框 */
.navigation .menu li {
    border: none;
    margin: 10px 0;
}

/* 中型設備(ipad air) */
@media (max-width:820px) {
    footer {
        text-align: center;
    }

    footer div {
        display: none;
    }
}

/* 中型設備(ipad air) */
@media (max-width:820px) {}

/* 小型設備() */
@media (max-width:640px) {}